@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor01: #53a4bf;
    --cor02: #2d5160;
    --cor03: #fff;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #AFEEEE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}

.difinir_largura{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.degrade{
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor02));
}

h2{
    font-weight: 400;
    font-size: 36px;
    color: var(--extra-light);
}

footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #1f2937;
    color: var(--cor03);
    font-size: 13px;
}

footer span{
    color: var(--cor01);
    font-weight: bold ;
}