@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --cor01: #53a4bf;
    --cor02: #316273;
    --cor03: #fff;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #AFEEEE;
}

/*/Estilização do topo*/

a{
    text-decoration: none;
}

.topo_container{
    width: 100%;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor02);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--extra-light);
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
}

.logo span{
    color: var(--extra-light);
}

.nav_content{
    max-width: 1024px;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.nav_content a{
    color: var(--extra-light);
    font-size: 14px;
}

.nav_content a:hover{
    color: var(--cor01);
}

/*Estilizaçao da seção inicial*/

main{
    background-color: var(--cor01);
}
.inicio_content{
    background-color: var(--cor01);
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 16px;
    display: flex;
    gap: 100px;
    align-items: center;
    transition: 0.4s;
    transform: translate(5px);
}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    letter-spacing: 2px;
    color: var(--cor03);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.title{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: var(--cor02);
    margin-bottom: 16px;
}

.title span{
    font-weight: 600;
    color: var(--text-dark);
}

.description{
    line-height: 24px;
    color: var(--text-dark);
    margin-bottom: 16px;
}

.btn{
    width: 210px;
    height: 45px;
    display: flex;
    gap: 2px;
}

button{
    width: 122px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 4px;
    outline: none;
    border: 2px solid var(--cor02);
    border-radius: 18px;
    transition: 0.3s;
    cursor: pointer;
}

.logo_redes_sociais{
   width: 40px;
   height: 40px;
   transition: 0.4s;
}

button:hover{
    background-color: var(--cor02);
}

.logo_redes_sociais:hover{
    transform: scale(1.05);
}

.image{
    width: 30%;
}

@keyframes animacao {
    from {
        top: 1px
    }
    to{
        top: 20px
    }
}

.img_efeito{
    width: 100%;
    border-radius: 50%;
    position: relative;
    animation: animacao 2.1s infinite alternate-reverse linear;
}

/*Estilização da seção sobre mim*/

.secao_sobre{
    width: 100%;
    padding: 100px 0;
    background-color: var(--cor02);
    transition: 0.3s;
    display: flex;
}

.container_divisao{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

figure{
    width: 230px;
    display: flex;
    align-items: center;
}

.container_divisao figure img{
    width: 200px;
    height: 200px;
    position: relative;
    animation: animacao 2.1s infinite alternate-reverse linear;
}

.container_sobre{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.container_sobre h2{
    font-size: 38px;
    font-weight: 400;
    color: var(--extra-light);
}

.box_content{
    border-radius: 8px;
    background-color: var(--cor03);
    color: var(--text-dark);
    padding: 60px;
    line-height: 24px;
    text-align: justify;
}