:root{
    --cor01: #53a4bf;
    --cor02: #2d5160;
    --cor03: #fff;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #AFEEEE;
}

.topo{
    background-color: rgba(45, 81, 96, 0.8);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    border-bottom: 1px solid var(--extra-light);
}

.topo div{
    width: 50%;
    font-size: 26px;
    color: var(--text-dark);
    font-weight: 500;
    letter-spacing: -1px;
}

.topo div span{
    color: var(--extra-light);
}

.nav_content{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 50%;
}

.nav_content a{
    color: var(--extra-light);
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}


.nav_content a:hover{
    transition: 0.3s;
    color: var(--text-dark);
}


@media (max-width: 768px) {
    .topo{
        padding: 10px 20px;
    }

    .nav_content{
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .topo{
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
    }

    .topo div{
        width: 100%;
    }

    .nav_content{
        display: none;
    }
}