@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

:root{
    --cor1: #111;
    --cor2: #CCCCCC;
    --cor3: #B3B3B3;
    --cor4: #00CED1;
}

body{
    background-color: #111;
}


@keyframes barra {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
} 

.cursor::after{
    content: '|';
    display: inline-block;
    animation: barra 0.8s infinite;
}

.line{
    max-width: 320px;
    height: 1px;
    background-color: var(--cor3);
    margin: 40px auto;
}

@media(min-width: 768px){
    .line{
        max-width: 768px;
        margin: 120px auto;
    }
}

@media(min-width: 1200px){
    .line{
        max-width: 1200px;
    }
}