.box_inicio{
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #fff;
}

.box_banner{
    width: 50%;
    background-image: url('/assets/img/banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box_apresentacao{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.subtitulo{
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.box_apresentacao h1{
    font-size: 46px;
    color: #0044CC;
    margin-bottom: 5px;
}

.descricao{
    font-size: 18px;
    margin-bottom: 30px;
    height: 40px;
}

.cursor::after{
    content: '|';
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}

.box_btn_redes_sociais{
    display: flex;
    width: 150px;
}

.box_btn_redes_sociais a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.box_btn_redes_sociais a img{
    width: 40px;
}

.box_btn_redes_sociais a img:hover{
    width: 39px;
    transition: 0.3s;
}


@media (max-width: 800px){
    .box_banner{
        display: none;
    }

    .box_apresentacao{
        width: 100%;
    }
}

