.topo{
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo{
    width: 100%;
    color: #fff;
    letter-spacing: -2px;
    font-size: 26px;
    font-weight: 500;
}

.container_redes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.container_redes a img{
    width: 28px;
    transition: transform 0.3s;
}

.container_redes a img:hover{
    transform: translateY(-2px);
}

@media(min-width: 768px){
    .topo{
        width: 100%;
        padding: 20px 40px;
        max-width: 768px;
        flex-direction: row;
    }

    .container_redes{
        justify-content: flex-end;
        gap: 30px;
    }
}

@media(min-width: 1200px){
    .topo{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}